[[plugins]]
repo = 'Shougo/neoyank.vim'
on_event = 'TextYankPost'
on_source = ['denite.nvim']

[[plugins]]
repo = 'Shougo/denite.nvim'
on_if = 'has("python3")'
on_cmd = 'Denite'
hook_source = 'source ~/.vim/rc/plugins/denite.vim'
hook_add = '''
    " The prefix key
    nnoremap [denite] <Nop>
    nmap <C-d> [denite]
    " denite.vim keymap
    nnoremap <silent> [denite]f :<C-u>Denite file_rec<CR>
    nnoremap <silent> [denite]g :<C-u>Denite grep<CR>
    nnoremap <silent> [denite]b :<C-u>Denite buffer<CR>
    nnoremap <silent> [denite]k :<C-u>Denite bookmark<CR>
    nnoremap <silent> [denite]a :<C-u>DeniteBookmarkAdd<CR>
    nnoremap <silent> [denite]m :<C-u>Denite<Space>file_mru<CR>
    nnoremap <silent> [denite]p :<C-u>Denite -buffer-name=register register neoyank<CR>
    nnoremap <silent> [denite]c :<C-u>DeniteWithBufferDir -buffer-name=files file<CR>
    nnoremap <silent> / :<C-u>Denite -buffer-name=search -auto-highlight line<CR>
    nnoremap <silent> * :<C-u>DeniteCursorWord -buffer-name=search -auto-highlight -mode=normal line<CR>
'''

[[plugins]]
repo = 'Townk/vim-autoclose'

[[plugins]]
repo = 'Shougo/deoplete.nvim'
on_if = 'has("python3")'
depends = ['context_filetype.vim', 'vim-hug-neovim-rpc', 'nvim-yarp']
on_event = 'InsertEnter'
hook_source = '''
    source ~/.vim/rc/plugins/deoplete.vim
    call deoplete#enable()
'''

[[plugins]]
repo = 'Shougo/neco-syntax'

[[plugins]]
repo = 'Shougo/neco-vim'
on_ft = ['vim']

[[plugins]]
repo = 'zchee/deoplete-zsh'
on_ft = ['zsh', 'sh']

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'junegunn/vim-easy-align'
hook_add = 'vmap <Enter> <Plug>(EasyAlign)'
